<p id="notice"><%= notice %></p>

<p>
  <b>Event title:</b>
  <%= @event.event_title %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Event venue:</b>
  <%= @event.event_venue %>
</p>

<p>
  <b>Chief guest:</b>
  <%= @event.chief_guest %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
